<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form name="joinForm" method="post" action="userInsert">
        id <input type="text" name="userId"/>
        <br />
        name <input type="text" name="userName"/>
        <br />
        password <input type="password" name="password"/>
        <br />
        comment <input type="text" name="comment"/>
        <br />
        birthday <input type="text" name="birthday"/>
        <br />
        <button type="submit" >Submit</button>
    </form>
</body>
</html>